<%- layout("/layouts/boilarplate.ejs") %>
<body>
<div class="text-center">
 <h1 class="showde">Details</h1>
 </div>
    <div class="row">
        <div class="col-8 offset-3">
            <div class="card showcard" style="width: 18rem;">
        <img src='<%= list.image.url %>' class="card-img-top showimg" alt="">
        <div class="card-body">
            <div class="card-text">
    <p>Owner object:@<%= list.owner.username %></p>
    <p class="card-price">&#8377;<%= list.price.toLocaleString("en-IN") %>/night</p>
    <h2><%= list.title %></h2>
    <p><%= list.description %></p>
    <p>&#8377;<%= list.price.toLocaleString("en-IN") %></p>
    <p><%= list.location %>, <%= list.country %></p>
</div>
        </div>
    </div>
     </div>
 </div>
    <% if (currentUser && currentUser._id.equals(list.owner._id)) { %>
  
     <form method="get" action="/listing/<%=list.id%>/edit">
         <div class="text-center">
                <button type="submit" class="btn btn-primary new_submit">Edit</button>
                <br>
                <br>
                </div>
     </form>   
     <% } %>
     <hr>
     <%if(currentUser){%>

     <h4 class="new_heading">Enter The Hotel Ratings </h4>

    <div class="row">
        <div class="col-8 offset-2">
         <form action="/listing/<%=list.id%>/review" method="post" class="new_form needs-validation" novalidate>

       
     <div class="mb-3">
        <label for="comment" class="form-label">Enter review</label>
        <textarea class="form-control" id="comment" name="review[comment]" rows="3" required></textarea>
   <div class="valid-feedback">
      Looks good!
    </div>
    <div class="invalid-feedback">
        Please enter the description
      </div>
    </div>

     <div class="mb-3">
            <fieldset class="starability-slot">

<input type="radio" id="rate1" name="review[rating]" value="1"  checked>
<label for="rate1">1 star</label>

<input type="radio" id="rate2" name="review[rating]" value="2">
<label for="rate2">2 stars</label>

<input type="radio" id="rate3" name="review[rating]" value="3">
<label for="rate3">3 stars</label>

<input type="radio" id="rate4" name="review[rating]" value="4">
<label for="rate4">4 stars</label>

<input type="radio" id="rate5" name="review[rating]" value="5">
<label for="rate5">5 stars</label>

</fieldset>
    </div>
    <div class="text-center">
   <button type="submit" class="btn btn-primary new_submit">Submit</button>
   </div>
    </form>
     </div>
    </div>
    <%}%>
<hr>
   <div class="container my-5 ">
  <div class="row g-4 justify-content-center">
    <% if (list.reviews.length > 0) { %>
  <% list.reviews.forEach(review => { %>
      <div class="col-md-6 col-lg-5">
        <div class="card review-card">
          <div class="card-body">
            
            <p><fieldset class="starability-result" data-rating="<%= review.rating %>"></fieldset></p>
            <h5 class="card-title"><%= review.author.username %></h5>
            <p class="card-text">
              <%= review.comment %>
            </p>
            
            
        <% if(currentUser && review.author && review.author._id.equals(currentUser._id)) { %>

        <form action="/listing/<%= list._id %>/review/<%= review._id %>?_method=DELETE" method="POST">
          <button class="btn btn-danger btn-sm">Delete</button>
      </form>

<% } %>
          </div>
        </div>
      </div>
     <% }) %>
<% } else { %>
  <p>No reviews yet 😕</p>
<% } %>
  </div>
</div>

<hr>
   
</div>
</body>
            


